{
    "parser": "babel-eslint",
    "plugins": [
        "flowtype",
        "flow-vars"
    ],
    "extends": "airbnb",
    "rules": {
        "no-underscore-dangle": 0,
        "flow-vars/define-flow-type": 1,
        "flow-vars/use-flow-type": 1
    }
}
