{
    "parser": "babel-eslint",
    "plugins": [
        "flowtype",
    ],
    "extends": "airbnb",
    "rules": {
        "no-underscore-dangle": 0,
        "no-constant-condition": [2, { "checkLoops": false }],
        "new-cap": [
            2,
            {
                "capIsNewExceptions": [
                    "DragDropContext",
                    "DragSource",
                    "DropTarget"
                ],
                "capIsNewExceptionPattern" : "^Immutable\\.."
            }
        ],
        "flowtype/define-flow-type": 1,
        "flowtype/use-flow-type": 1
    },
    "settings": {
        "import/resolver": {
            "babel-module": {},
            "webpack": {
                "config": "webpack.config.base.js"
            }
        }
    }
}
