.logo
  +mobile
    font-size: 2em

  +tablet
    font-size: 2.5em

  .logo-img
    display: inline-block
    vertical-align: middle
    width: 2em
    height: 2em

  .logo-title
    display: inline-block
    line-height: 2em
