.form-editor-drop-target
  min-width: 10px
  min-height: 10px
  background-color: $light
  border-radius: 5px
  border-width: 0

  &.hover
    background-color: transparent
    border-width: 1px
    border-color: $primary
    border-style: solid

.form-editor-drag-source
  &.dragging
    background-color: yellow
