@media print
  @page
    margin: 0

  section.section.is-print
    margin: 2em
    padding-bottom: 20px

    img.logo
      margin: -50px auto 0px
      display: block
      height: 120px
      width: 180px

    table.table
      border: 1px solid $border
      margin-bottom: 0

      tr
        border: 1px solid $border

        th
          width: 1px
          white-space: nowrap

    .form-static
      height: initial
      line-height: initial

    .section-header
      margin-top: 1em
      font-weight: bold
      font-size: 18px
