@media print
  @page
    margin: 0

  section.section.is-print
    margin: 2em
    padding-bottom: 20px
    line-height: 120%

    .title:not(:last-child), .subtitle:not(:last-child)
      margin-bottom: 0.5rem

    table.table
      border: 1px solid $border
      margin-bottom: 0

      tr
        border: 1px solid $border

        th
          width: 1px
          white-space: nowrap

    .form-static
      height: initial
      line-height: initial
