@import "~bulma/bulma"
$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome"

@import "~balloon-css/balloon"

@import "./checkgroup"
@import "./print"

.control.has-icon
  .fa
    @each $name, $pair in $colors
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.is-#{$name}
        color: $color
  .input
    &:focus + .fa
      @each $name, $pair in $colors
        $color: nth($pair, 1)
        $color-invert: nth($pair, 2)
        &.is-#{$name}
          color: $color

.guidetool ul
   list-style-type: disc
   margin-left: 20px

// =control をコピペして不要なスタイルを削除
.form-static
  -moz-appearance: none
  -webkit-appearance: none
  align-items: center
  background-color: $control-background
  color: $control
  display: inline-flex
  font-size: $size-normal
  height: 32px
  justify-content: flex-start
  line-height: 24px
  padding-left: 8px
  padding-right: 8px
  position: relative
  vertical-align: top

  &.is-small
    +control-small
  &.is-medium
    +control-medium
  &.is-large
    +control-large
  // Modifiers
  &.is-fullwidth
    display: block
    width: 100%
  &.is-inline
    display: inline
    width: auto
  &.is-multiline
    display: block
    width: auto
    height: auto

    ul
      list-style: disc outside
      margin-left: 2em
      margin-right: 2em
      margin-top: 1em
