@import "~bulma/bulma"
$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome"

@import "~balloon-css/balloon"

@import "~react-dates/lib/css/_datepicker"

@import "loading"
@import "./form"
@import "./design"
@import "./checkgroup"
@import "./attachment"
@import "./print"

a.inverse
  color: $link
  &:hover
    color: $white

.hero .select select
  background-color: rgba(0, 0, 0, 0.15)
  color: #fff

.icon.is-warning
  color: $yellow

.withclear
  padding-right: 32px

.clearbuttonwrapper
  position: absolute
  display: block
  top: 0px
  right: 5px
  height: 32px
  width: 32px
  cursor: pointer

.clearbutton
  margin-top: 30%
  margin-left: 30%
  color: #D5D5D5
  &:hover
    color: #000000

p + div
  div.block
    .DateInput
      font-size: 12px

    .DateInput__display-text
      height: 16px
      line-height: 1.5
      padding-top: 0
      text-align: center

    .button
      height: 34px
